<h1> Todo Lists </h1>
<div>
  <% @todo_lists.each do |todo_list| %>
    <div>
      <h2><%= link_to todo_list.name, todo_list %></h2>  
    </div>
  <% end %>
</div>

<div>
  <%= link_to 'Add Todo List', new_todo_list_path %>
<div>